
/****************************************************/
/*                                                 */
/*   Email Signup CSS (_email-signup.scss)        */
/*                                               */
/************************************************/
/*

  - Style the email/newsletter signup
  - The email signup may be hidden initially with the class email-signup--hidden-initially.
    Using a JS script, it may be fully visible by adding the class email-signup--visible.
    This class may be toggled by giving an element the class email-signup__toggle.
    See ~/src/scripts/app.js for more details.

  *************
  * Contents: *
  *************

  # Variables
  # Email Signup
    > At Small
  # Title
  # Display Toggle
    > At Small
    > Title
    > Icon
    > Icon - Has No JS
    > Icon - At Small
    > Icon - On Hover
  # Content
    > Has No JS
    > Hidden Initially
    > Visible
  # Field
  # Input
  # Submit
  # Responses

*/

/**************************************/
/*   # Variables                     */
/************************************/

$email-signup_maxHeight: 40rem; //this value should be larger than the expected height to allow css height transition.

/**************************************/
/*   # Email Signup                  */
/************************************/

.email-signup {
  /*position*/
  position: relative;
  /*spacing*/
  padding-left: 30px;
  padding-right: 30px;
  /*typography*/
  line-height: 1.2;
  /*colors*/
  background-color: $color_neutralLight;

  /*****************
  *   > At Small   *
  *****************/

  @include atSmall {
    /*spacing*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  /**************************************/
  /*   # Title                         */
  /************************************/

  &__title {}

  /**************************************/
  /*   # Display Toggle                */
  /************************************/

  &__toggle {
    /*cursor*/
    cursor: pointer;
    /*display*/
    display: flex;
    /*position*/
    position: relative;
    /*structure*/
    width: auto;
    /*borders*/
    border-style: none;
    /*background-color*/
    background-color: unset;

    /*****************
    *   > At Small   *
    *****************/

    @include atSmall {
      display: inline-block;
    }
  }

  /**************
  *   > Title   *
  **************/

  &__toggle-title {
    /*display*/
    display: inline-block;
    /*spacing*/
    margin-left: 50px;
    /*transform*/
    transition-property: color;
    transition-duration: 200ms;
    /*typography*/
    font-size: 1.5rem;
    font-family: $font_sansSerif;

    @include atSmall {
      margin-left: 0;
    }

    /*title style when the wrapping toggle element is moused-over*/
    .has-no-touch .email-signup__toggle:hover &,
    .has-no-touch .email-signup__toggle:focus & {
      color: $color_accentSec;
    }
    /*title style when the wrapping toggle element is moused-over and the email-signup has the visisble class*/
    .has-no-touch .email-signup--visible .email-signup__toggle:hover &,
    .has-no-touch .email-signup--visible .email-signup__toggle:focus & {
      color: $color_attentionHot;
    }
  }

  /*************
  *   > Icon   *
  *************/
  /* Note: icon may have additional class names with styles in other files. */

  &__toggle-icon {
    /*cursor*/
    cursor: pointer;
    /*display*/
    display: inline-block;
    /*position*/
    position: absolute;
    top: 50%;
    /*spacing*/
    margin-right: 15px;
    /*transform*/
    transform: scale(.8) translateY(-50%);
    /*transition*/
    transition-duration: 200ms;
    transition-property: transform;

    /*************************
    *   > Icon - Has No JS   *
    *************************/

    .has-no-js &{
      display: none;
    }

    /************************
    *   > Icon - At Small   *
    ************************/

    @include atSmall {
      /*position*/
      position: relative;
      top: 6px;
      /*spacing*/
      margin-top: 0;
      margin-right: 5px;
      /*transform*/
      transform: scale(.8);
    }

    /************************
    *   > Icon - On Hover   *
    ************************/

    .has-no-touch .email-signup__toggle:hover &,
    .has-no-touch .email-signup__toggle:focus & {
      /*transform*/
      transform: scale(.9);
    }
  }

  /**************************************/
  /*   # Content                       */
  /************************************/

  &__content {
    /*position*/
    position: relative;
    /*structure*/
    height: auto;

    /******************
    *   > Has No JS   *
    ******************/

    .has-no-js &,
    .has-no-js .email-signup--hidden-initially &{
      max-height: unset;
      opacity: 1;
    }

    .has-no-js & *{
      display: none;
    }

    .has-no-js &:before {
      content: "You must enable Javascript on your device or browser to subscribe to the newsletter.";
      display: block;
      margin-bottom: 15px;
    }

    /*************************
    *   > Hidden Initially   *
    *************************/

    .email-signup--hidden-initially &{
      /*display*/
      display: none; // prevent tab through when hidden
      /*structure*/
      height: auto;
      max-height: 0;
      /*colors*/
      opacity: .2;
      /*overflow*/
      overflow: hidden;
      /*transitions*/
      transition-property: all;
      transition-duration: 1000ms;
      transition-timing-function: linear;
    }

    /****************
    *   > Visible   *
    ****************/

    .email-signup--hidden-initially.email-signup--visible &{
      /*display*/
      display: block;
      /*structure*/
      max-height: $email-signup_maxHeight;
      /*colors*/
      opacity: 1;
    }

  }

  /**************************************/
  /*   # Field                         */
  /************************************/

  // Note: make sure to keep the id in this style to override default
  &__field,
  #mc_embed_signup &__field.mc-field-group {
    padding-bottom: 1rem;
  }

  /**************************************/
  /*   # Input                         */
  /************************************/

  // Note: make sure to keep the id in this style to override default
  &__input,
  #mc_embed_signup &__field.mc-field-group &__input[type="text"] {

  }

  /**************************************/
  /*   # Submit                        */
  /************************************/

  // Note: make sure to keep the id in this style to override default
  &__submit,
  #mc_embed_signup &__submit[type="submit"] {
    @include button();
    margin: 0;
  }


  #mc_embed_signup #mce-responses {
    &.email-signup__responses{
      margin-left: 0;
      padding: 0;
    }

    & .email-signup__response{
      /*spacing*/
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 0;
      /*borders*/
      border-style: solid;
      border-width: 2px;
      border-radius: 3px;
      /*colors*/
      background-color: $color_neutralLight;
      border-color: $color_attentionMild;
      color: $color_attentionMild;
      /*shadows*/
      box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    }

    & #mce-error-response.email-signup__response{
      /*colors*/
      border-color: $color_attentionHot;
      color: $color_attentionHot;
    }
  }


}
