.headline {
  /*display*/
  display: block;
  /*typography*/
  font-weight: 100;
  /*color*/
  color: $color_neutralDark;
  font-weight: 100;

  &--small {
    font-size: 2rem;
  }

  &--medium {
    font-size: 2.5rem;
  }

  &--large {
    font-size: 4rem;
  }

  &--no-top-space {
    margin-top: 0;
    padding-top: 0;
  }

  &--less-bottom-space {
    margin-bottom: 5px;
  }

  &--color-med {
    color: $color_neutralMed;
  }

  @include atSmall {
    &--large--at-small {
      font-size: 4rem;
    }
  }

  &--center-align {
    text-align: center;
  }

  @include forTiny {
    // &--reduce-line-height--for-tiny {
      line-height: 1.2;
    // }

    &--center-align--for-tiny {
        text-align: center;
    }
  }

  &--light {
    color: $color_offWhite;
  }

  &--shadow {
    text-shadow: 0 0 15px rgba(0, 0, 0, .8);
  }
}
