.headline {
  /*display*/
  display: block;
  /*color*/
  color: $color_neutralDark;
  font-weight: 100;

  &--medium {
    font-size: 2.5rem;
  }

  &--large {
    font-size: 4rem;
  }

  &--no-top-space {
    margin-top: 0;
    padding-top: 0;
  }

  &--less-bottom-space {
    margin-bottom: 5px;
  }

  @include atSmall {
    &--large--at-small {
      font-size: 4rem;
    }
  }

  &--center-align {
    text-align: center;
  }

  @include forTiny {
    // &--reduce-line-height--for-tiny {
      line-height: 1.2;
    // }

    &--center-align--for-tiny {
        text-align: center;
    }
  }
}
