.icon {
  /*position*/
  position: relative;
  /*structure*/
  height: auto;
  width: auto;
  /*background*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &--circle-style {
    /*spacing*/
    padding: 15px;
    /*borders*/
    border-radius: 50%;
    /*colors*/
    background-color: $color_neutralMed;
  }

  &__image {

    &--small {
      max-height: 29px;
    }

    .has-no-touch &--scale-on-hover {
      /*transition*/
      transition-property: transform;
      transition-duration: 200ms;
      &:hover {
        /*transform*/
        transform: scale(1.1);
      }
    }
  }






  &__title {
    display: none;

  }

}
