/****************************************************/
/*                                                 */
/*   Image (image.scss)                           */
/*                                               */
/************************************************/
/*

  - Styles for images
  - These styles can modify an images size, style, and more
  - Some classes may provide a specific background image

  *************
  * Contents: *
  *************

  # Wrapper
  # Image
  # Size
  # Style
  # Background
  # Caption
  # Has No JS

*/


/**************************************/
/*   # Wrapper                       */
/************************************/

.image__wrapper {

  overflow: hidden;

  &--hero {
    /*display*/
    display: block;
    /*position*/
    position: relative;
    /*structure*/
    max-height: 400px;
    max-width: 1200px;
    /*spacing*/
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color_neutralMed;

  }

  &--shadow-frame {
    @include shadowFrame();
  }

  &--shadow-frame--thin {
    @include shadowFrame(3px);
  }

}

/**************************************/
/*   # Image                         */
/************************************/

.image {

  display: block;
  position: relative;
  height: auto;
  width: auto;

  /**************************************/
  /*   # Position                      */
  /************************************/

  &--center-horiz {
    /*position*/
    position: relative;
    /*spacing*/
    margin-left: auto;
    margin-right: auto;
  }

  /**************************************/
  /*   # Size                          */
  /************************************/

  &--fit-to-width {
    width: 100%;
  }

  &--restrict-to-parent {
    max-height: 100%;
    max-width: 100%;
  }

  &--fit-to-parent {
    height: 100%;
    width: 100%;
  }


  /**************************************/
  /*   # Style                         */
  /************************************/

  &--shadow-frame {
    @include shadowFrame();
  }

  &--shadow-frame--thin {
    @include shadowFrame(3px);
  }

  &--circle {
    border-radius: 50%;
  }

  /**************************************/
  /*   # Background                    */
  /************************************/

  &--watercolor {
    background-image: url('images/watercolor.svg');
    background-size: cover;
    background-repeat: none;
  }

  /**************************************/
  /*   # Caption                       */
  /************************************/

  &__caption {
    /*spacing*/
    margin-top: 5px;
    /*typography*/
    font-size: .9rem;
    line-height: 1.4;
    text-align: center;
    /*colors*/
    color: $color_neutralMed;

  }

  /**************************************/
  /*   # Has No JS                     */
  /************************************/

  &--no-js {
    /*position*/
    z-index: 5;
    position: absolute;
  }

}
