/****************************************************/
/*                                                 */
/*   Link (_link.scss)                            */
/*                                               */
/************************************************/
/*

  - Style for link types

  *************
  * Contents: *
  *************

  # Link
    > Button
    > Inline
    > Fill

*/

/**************************************/
/*   # Line                          */
/************************************/


.link {

  /**************
  *  > Button   *
  **************/

  &--button {
    @include button();
  }

  &--button--slim {
    @include button(2px, 8px);
  }

  /**************
  *  > Inline   *
  **************/

  &--inline {
    @include inlineLink();
  }

  /************
  *  > Fill   *
  ************/

  &--fill-text-below {
    /*display*/
    display: block;
    /*position*/
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: calc(100% + 3rem);
    width: 100%;
    /*spacing*/
    padding-top: calc(100% + 1rem);
    /*typography*/
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.5;
    font-weight: 700;
    /*colors*/
    color: $color_button;

    .has-no-touch &:hover,
    .has-no-touch &:focus {
      color: $color_button_hover;
    }

  }

}
