/****************************************************/
/*                                                 */
/*   Line (line.scss)                             */
/*                                               */
/************************************************/
/*

  - Decorative line

  *************
  * Contents: *
  *************

  # Line
    > Direction

*/

/**************************************/
/*   # Line                          */
/************************************/

.line {
  /*display*/
  display: block;
  /*position*/
  position: relative;
  left: 0;
  /*structure*/
  height: 3px;
  width: 100%;
  /*colors*/
  background-color: $color_neutralMed;

  /*****************
  *   > Direction   *
  *****************/

  &--vertical {
    height: 100%;
    width: 3px;
  }
}
