/****************************************************/
/*                                                 */
/*   Line (line.scss)                             */
/*                                               */
/************************************************/
/*

  - Decorative line

  *************
  * Contents: *
  *************

  # Line
    > Position
    > Structure
    > Colors

*/

/**************************************/
/*   # Line                          */
/************************************/

.line {
  /*display*/
  display: block;
  /*position*/
  z-index: -1;
  position: relative;
  left: 0;
  top: 0;
  /*structure*/
  height: 3px;
  width: 100%;
  /*colors*/
  background-color: $color_neutralLight;

  /*****************
  *   > Position   *
  *****************/

  &--absolute {
    position: absolute;
  }

  /******************
  *   > Structure   *
  ******************/

  &--vertical {
    height: 100%;
    width: 3px;
  }

  &--thick-vertical {
    height: 100%;
    width: 90px;
  }

  /***************
  *   > Colors   *
  ***************/

  &--color-a {
    background-color: $color_a;
  }

}
