/****************************************************/
/*                                                 */
/*   Line (line.scss)                             */
/*                                               */
/************************************************/
/*

  - Decorative line

  *************
  * Contents: *
  *************

  # Line
    > Position
    > Structure
    > Colors

*/

/**************************************/
/*   # Line                          */
/************************************/

.line {
  /*position*/
  z-index: -1;
  position: relative;
  /*structure*/
  height: 1px;
  width: 100%;
  /*colors*/
  background-color: $color_neutralLight;

  /*****************
  *   > Position   *
  *****************/

  &--absolute {
    position: absolute;
  }

  &--bottom {
    position: absolute;
    bottom: 0;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--center-below {
    /*position*/
    position: absolute;
    bottom: -20px;
    left: 50%;
    /*transform*/
    transform: translateX(-50%);
  }

  /******************
  *   > Structure   *
  ******************/

  &--vertical {
    height: 100%;
    width: 3px;
  }

  &--thick-vertical {
    height: 100%;
    width: 90px;
  }

  &--narrow {
    width: 100px;
  }

  /***************
  *   > Colors   *
  ***************/

  &--color-a {
    background-color: $color_a;
  }

}
