/****************************************************/
/*                                                 */
/*   List (list.scss)                             */
/*                                               */
/************************************************/
/*

  - List styles

  *************
  * Contents: *
  *************

  # List
  # Modifiers
  # Links
    > Dots on active
    > Dots on hover
  # Icons
  # Posts
  # Floating
  # At Small
    > Horizontal at small

*/

/**************************************/
/*   # List                          */
/************************************/


.list {
  /*display*/
  display: block;

  /**************************************/
  /*   # Modifiers                     */
  /************************************/

  &--remove-webkit-spaces {
    /*spacing*/
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
  }

  &--remove-webkit-side-space {
    /*spacing*/
    -webkit-padding-start: 0;
    padding-left: 0;
  }

  &--remove-webkit-top-space {
    margin-block-start: 0;
  }

  &--items-bottom-space>li {
    margin-bottom: 15px;
  }

  &--items-bottom-space--more>li {
    margin-bottom: 30px;
  }

  &--horizontal {
    &>li {
      /*spacing*/
      padding-left: 20px;
      padding-right: 20px;
      /*display*/
      display: inline-block;
    }
  }

  &--horizontal--less-space {
    &>li {
      /*spacing*/
      padding-left: 10px;
      padding-right: 10px;
      /*display*/
      display: inline-block;
    }
  }

  @include forTiny {
    &--horizontal--less-space--for-tiny {
      &>li {
        /*spacing*/
        padding-left: 10px;
        padding-right: 10px;
        /*display*/
        display: inline-block;
      }
    }
  }

  &--no-right-space-on-last {
    &>li:last-child {
      padding-right: 0;
      margin-right: 0;
    }
  }

  &--no-left-space-on-first {
    &>li:first-child {
      padding-left: 0;
      margin-right: 0;
    }
  }

  @include atSmall {
    &--no-left-space-on-first--at-small {
      &>li:first-child {
        padding-left: 0;
        margin-right: 0;
      }
    }
  }

  &--no-bullets {
    &>li {
      list-style: none;
    }
  }

  &--push-up {
    margin-top: -1.2rem;
  }

  /**************************************/
  /*   # Links                         */
  /************************************/

  &--links {
    li {
      list-style: none;
    }

    &--no-underline a{
      text-decoration: none;
    }
  }

  /***********************
  *   > Dots on active   *
  ***********************/

  &--links--dots-on-active{
    .link--active a {
    // a {
      position: relative;
      &::before {
        content: "";
        left: -20px;
        top: 35%;
        @include dot($color_accentMain, 8px);

      }
      &::after {
        content: "";
        right: -20px;
        top: 35%;
        @include dot($color_accentMain, 8px);
      }
    }
  }

  /**********************
  *   > Dots on hover   *
  **********************/

  &--links--dots-on-hover{
    a {
      position: relative;
      &::before {
        content: "";
        left: -20px;
        top: 35%;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
        @include dot($color_neutralMed, 8px);

      }
      &::after {
        content: "";
        right: -20px;
        top: 35%;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
        @include dot($color_neutralMed, 8px);
      }
    }
    a:hover,
    a:focus {
      &::before {
      opacity: 1;

      }
      &::after {
        opacity: 1;
      }
    }
  }

  /**************************************/
  /*   # Icons                         */
  /************************************/

  &--icons {

  }

  /**************************************/
  /*   # Posts                         */
  /************************************/

  &--posts {
    &>li {

    }
  }

  /**************************************/
  /*   # Floating                      */
  /************************************/

  &--floating {
    &>li {
      /*relative*/
      position: relative;
      float: right;

    }
  }

  /**************************************/
  /*   # At Small                      */
  /************************************/

  @include atSmall {

    /****************************
    *   > Horizontal at small   *
    ****************************/

    &--horizontal-at-small {

      &>li {
        /*spacing*/
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 20px;
        margin-right: 20px;
        /*display*/
        display: inline-block;
      }
    }
  }

  &--horizontal-at-small--space-adjusting {
    &>li {

    @include atSmall {
      /*display*/
      display: inline-block;
      /*spacing*/
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 0;
      margin-right: 0;
    }
    @include atMedium {
      /*display*/
      display: inline-block;
      /*spacing*/
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 15px;
      margin-right: 15px;
    }
    @include atLarge {
      /*display*/
      display: inline-block;
      /*spacing*/
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

}

}
