/****************************************************/
/*                                                 */
/*   List (list.scss)                             */
/*                                               */
/************************************************/
/*

  - List styles

  *************
  * Contents: *
  *************

  # List
  # Modifiers
  # Links
    > Dots on active
    > Dots on hover
  # Icons
  # Posts
  # At Small
    > Horizontal at small

*/

/**************************************/
/*   # List                          */
/************************************/


.list {
  /*display*/
  display: block;
  /*spacing*/
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;

  /**************************************/
  /*   # Modifiers                     */
  /************************************/

  &--horizontal {
    &>li {
      /*spacing*/
      padding-left: 20px;
      padding-right: 20px;
      /*display*/
      display: inline-block;
    }
  }

  &--horizontal--less-space {
    &>li {
      /*spacing*/
      padding-left: 10px;
      padding-right: 10px;
      /*display*/
      display: inline-block;
    }
  }

  &--no-bullets {
    &>li {
      list-style: none;
    }
  }

  /**************************************/
  /*   # Links                         */
  /************************************/

  &--links {
    li {
      list-style: none;
    }

    &--no-underline a{
      text-decoration: none;
    }
  }

  /***********************
  *   > Dots on active   *
  ***********************/

  &--links--dots-on-active{
    .link--active a {
    // a {
      position: relative;
      &::before {
        content: "";
        left: -20px;
        top: 35%;
        @include dot($color_accentMain, 8px);

      }
      &::after {
        content: "";
        right: -20px;
        top: 35%;
        @include dot($color_accentMain, 8px);
      }
    }
  }

  /**********************
  *   > Dots on hover   *
  **********************/

  &--links--dots-on-hover{
    a {
      position: relative;
      &::before {
        content: "";
        left: -20px;
        top: 35%;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
        @include dot($color_neutralMed, 8px);

      }
      &::after {
        content: "";
        right: -20px;
        top: 35%;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
        @include dot($color_neutralMed, 8px);
      }
    }
    a:hover {
      &::before {
      opacity: 1;

      }
      &::after {
        opacity: 1;
      }
    }
  }

  /**************************************/
  /*   # Icons                         */
  /************************************/

  &--icons {

  }

  /**************************************/
  /*   # Posts                         */
  /************************************/

  &--posts {
    li {
      margin-bottom: 50px;
    }
  }

  /**************************************/
  /*   # At Small                      */
  /************************************/

  @include atSmall {

    /****************************
    *   > Horizontal at small   *
    ****************************/

    &--horizontal-at-small {

      &>li {
        /*spacing*/
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 20px;
        margin-right: 20px;
        /*display*/
        display: inline-block;
      }
    }
  }



}
