/****************************************************/
/*                                                 */
/*   Main Navigation (main-nav.scss)              */
/*                                               */
/************************************************/
/*

  - Styles for the site's main navigation menu.
  - This file includes media queries to cusomize the menu for tiny and larger screens.
  - Some elements within the main navigation may have additional styles set
    by class names in other files (such as links)
  - The main navigation is positioned using the menu wrapper--the style for this
    element can be found in the site-header style file (./site-header.scss)

  *************
  * Contents: *
  *************

  # Main Nav
  # Links
    > Active
    > For Landscape
    > At Small
    > On Hover
  # Social Links

*/

/**************************************/
/*   # Main Nav                      */
/************************************/

.main-nav {
  /*position*/
  position: relative;
  /*structure*/
  width: 100%;
  height: auto;
  /*spacing*/

  /**************************************/
  /*   # Links                         */
  /************************************/


  &__links {
    /*display*/
    display: table;
    /*structure*/
    height: auto;
    width: 100%;
    /*spacing*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    a {
      /*display*/
      display: block;
      /*position*/
      position: relative;
      /*structure*/
      height: auto;
      width: 100%;
      /*spacing*/
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      /*colors*/
      color: $color_neutralMed;
      /*typography*/
      text-align: center;
      font-size: 1.4rem;
      /*transition*/
      transition-property: color;
      transition-duration: 100ms;

      &::after {
        content: "";
        /*display*/
        display: none;
        /*position*/
        z-index: -1;
        position: absolute;
        bottom: -10px;
        left: 0;
        /*structure*/
        height: 5px;
        width: 100%;
        /*colors*/
        background-color: $color_accentMain;
      }
    }

    /**************
    *   > Active   *
    **************/

    & .active {
      /*typography*/
      font-weight: 700;
      letter-spacing: .7;
      /*colors*/
      color: $color_offWhite;
      background-color: $color_accentMain;

      @include atSmall {
        /*color*/
        color: $color_accentMain;
        background-color: transparent;

        &:after {
          display: block;
        }
      }

    }

    /**********************
    *   > For Landscape   *
    **********************/

    @include forLandscape {
      a {
        font-size: 1.1rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    /*****************
    *   > At Small   *
    *****************/

    @include atSmall {
      a {
        /*display*/
        // display: inline-block;
        /*structure*/
        // width: 100%;
        // height: auto;
        /*spacing*/
        // padding: 0;
        /*typography*/
        font-size: 1rem;
        text-align: left;
      }
    }

    /*****************
    *   > On Hover   *
    *****************/

    /*style for all links when any link is moused over*/
    .has-no-touch &:hover {
      a:not(.active) {
        // color: $color_neutralDark;
      }
    }
    /*style for specific link moused over*/
    .has-no-touch & a:not(.active):hover {
      color: $color_offWhite;

      @include atSmall {
        /*colors*/
        color: $color_neutralDark;
      }

      &:after {
        @include atSmall {
          display: block;
          background-color: $color_neutralDark;
        }
      }
    }


  }

  /**************************************/
  /*   # Social Links                  */
  /************************************/

  &__social-links {
    margin-top: 30px;
    text-align: center;
  }
}
