
.main-nav {
  /*position*/
  position: relative;
  /*structure*/
  width: 100%;
  height: auto;
  /*spacing*/



  &__links {
    /*display*/
    display: table;
    /*structure*/
    width: auto;
    /*spacing*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    .has-no-touch &:hover {
      a {
        color: $color_neutralDark;
      }
    }

    a {
      /*colors*/
      color: $color_neutralMed;
      transition-property: color;
      transition-duration: 100ms;
      .has-no-touch &:hover {
        color: $color_accentMain;
      }
    }

  }
}
