.site-body {
  /*display*/
  display: block;
  /*position*/
  position: relative;
  /*spacing*/
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;

  @include atSmall {

    /*spacing*/
    margin-top: 185px;
    margin-bottom: 100px;
  }

  /**************************************/
  /*   # Header                        */
  /************************************/

  &__header {
    /*position*/
    z-index: 10;
    /*structure*/
    width: 100%;

    &--bkgd-screen {
      background-color: rgba($color_offWhite, .15);
    }

    &--bkgd-screen--dark {
      background-color: rgba($color_offBlack, .15);
    }
  }

  /**************************************/
  /*   # Hero                          */
  /************************************/

  &__hero-wrapper {
    /*position*/
    position: relative;
    /*structure*/
    max-height: 26rem;
    /*borders*/
    border-style: solid;
    border-color: $color_offWhite;
    border-width: 5px;
    /*shadow*/
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);

    @include atSmall {
      margin-top: -60px;
    }
  }



  &__hero {
    /*structure*/
    width: 100%;
    /*colors*/
    background-color: $color_neutralDark;

    &:not(.lazyloaded) {
      min-height: 150px;

      @include atSmall {
        min-height: 300px;
      }
    }
  }

  /**************************************/
  /*   # Title                         */
  /************************************/

  &__title {
    /*position*/
    position: absolute;
    bottom: 5px;
    left: 8px;
    z-index: 10;
    /*structure*/
    width: 50%;
    /*typography*/
    font-size: 2.3rem;
    text-align: left;
    line-height: 1;

    /*colors*/
    color: rgba(255, 255, 255, 1);
    /*shadows*/
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);

    @include atSmall {
      /*position*/
      top: auto;
      bottom: 20px;
      left: 30px;
      /*structure*/
      width: 50%;
      /*spacing*/
      margin-top: 0;
      padding-top: 0;
      /*typography*/
      font-size: 4rem;
      text-align: left;
      line-height: 1;

      /*shadows*/
      text-shadow: 0 0 30px rgba(0, 0, 0, 1);
    }
  }

  /**************************************/
  /*   # Logo Link                     */
  /************************************/

  &__logo-link {
    /*position*/
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
  }




}
