.site-body {
  /*position*/
  position: relative;
  /*spacing*/
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  // padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;

  @include atSmall {

    /*spacing*/
    padding-top: 50px;
    margin-bottom: 100px;
  }

  /**************************************/
  /*   # Header                        */
  /************************************/

  &__header {
    /*position*/
    z-index: 10;
    /*structure*/
    width: 100%;

    &--bkgd-screen {
      background-color: rgba($color_offWhite, .15);
    }

    &--bkgd-screen--dark {
      background-color: rgba($color_offBlack, .15);
    }
  }

  /**************************************/
  /*   # Title                         */
  /************************************/

  &__title {


  }

  /**************************************/
  /*   # Logo Link                     */
  /************************************/

  &__logo-link {
    /*position*/
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
  }




}
