.site-body {

  margin-top: 100px;

  @include atSmall {
    // margin-top: 0;
    margin-top: 300px;
  }

  /**************************************/
  /*   # Logo Wrapper                  */
  /************************************/

  &__logo-wrapper {
    /*position*/
    // position: relative;
    position: relative;
    left: 50%;
    top: 0;
    /*structure*/
    width: 200px;
    /*spacing*/
    margin-top: 30px;
    margin-bottom: 50px;
    /*transform*/
    transform: translateX(-50%);
    /*transition*/
    transition-property: all;
    transition-duration: $sh_sticky-transition-time;



    /******************
    *   > At Small   *
    ******************/

    @include atSmall {
      /*structure*/
      width: 250px;

      /***************
      *   > Sticky   *
      ****************/

      .--sticky & {
        /*structure*/
        width: 150px;
        /*spacing*/
        margin-top: 10px;
        margin-bottom: 10px;
        // top: 70px;
        // left: 10%;
      }

    }


  }


  /**************************************/
  /*   # Logo Link                     */
  /************************************/

  &__logo-link {
    /*position*/
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
  }
}
