/****************************************************/
/*                                                 */
/*   Site Header (site-header.scss)               */
/*                                               */
/************************************************/
/*

  - Styles for the site-header
  - This includes mainly wrapper elements.
    The individual wrapped elements may have their own files. (ex ./main-nav.scss)
  - Styles include media queries to handle different sized screens/windows.
    Note: atSmall is for screens larger than a mobile (mobile screens are considered tiny).

  *************
  * Contents: *
  *************

  # Variables
  # Site Header
    > At Small
    > Sticky

  # Sticky Trigger

  # Logo Wrapper
    > At Small

  # Logo Link

  # Menu Wrapper

  # Menu Icon Wrapper

*/

/**************************************/
/*   # Site Header                   */
/************************************/

$sh_sticky-transition-time: 2000ms;

/**************************************/
/*   # Site Header                   */
/************************************/

.site-header {
  /*position*/
  z-index: 500;
  position: fixed;
  top: 0;
  /*structure*/
  width: 100%;
  /*colors*/
  background-color: $color_offWhite;

  transition-property: top;
  transition-duration: $sh_sticky-transition-time;

  /***************
  *   > Sticky   *
  ****************/

  &.--sticky {
    top: -180px;
    /*fancy*/
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }


  /*****************
  *   > At Small   *
  *****************/
  @include atSmall{
    /*position*/
    // position: relative;
  }



  /**************************************/
  /*   # Sticky Trigger                */
  /************************************/

  &__sticky-trigger {
    /*position*/
    position: absolute;
    top: 15px;
  }

  /**************************************/
  /*   # Logo Wrapper                  */
  /************************************/

  &__logo-wrapper {
    /*position*/
    // position: relative;
    position: relative;
    left: 50%;
    top: 0;
    /*structure*/
    width: 200px;
    /*spacing*/
    margin-top: 30px;
    /*transform*/
    transform: translateX(-50%);
    /*transition*/
    transition-property: all;
    transition-duration: $sh_sticky-transition-time;



    /******************
    *   > At Small   *
    ******************/

    @include atSmall {
      /*structure*/
      width: 300px;

      &--corner-version {
        z-index: 10;
        position:fixed;

        left: 15px;
        transform: translateX(0);
        width: 150px;
        margin-top: 10px;

      }
    }

    /***************
    *   > Sticky   *
    ****************/

    .--sticky & {
      /*structure*/
      // width: 150px;
      /*spacing*/
      // margin-top: -70px;
      // top: 70px;
      // left: 10%;
    }
  }

  .--sticky &__logo-wrapper--up-on-sticky {
    top: -200px;
  }

  &__logo-wrapper--down-on-sticky {
    position: fixed;
    // transition-delay: 500ms;
    top: -200px;
    .--sticky & {
      top: 0;
    }
  }

  /**************************************/
  /*   # Logo Link                     */
  /************************************/

  &__logo-link {
    /*position*/
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
  }

  /**************************************/
  /*   # Menu Wrapper                  */
  /************************************/

  &__menu-wrapper {


    /*transition*/
    transition-property: all;
    transition-duration: $sh_sticky-transition-time;

    /*****************
    *   > At Small   *
    *****************/
    @include atSmall{
      margin-top: 20px;
      margin-bottom: 20px;

      /***************
      *   > Sticky   *
      ****************/
      .--sticky & {
        // margin-top: 10px;
        // margin-bottom: 5px;
      }
    }
  }

  /**************************************/
  /*   # Menu Icon Wrapper             */
  /************************************/

  &__menu-icon-wrapper {
    /*position*/
    position: absolute;
    top: 10px;
    right: 15px;
    /*structure*/
    height: auto;
    width: auto;
  }



}
