/****************************************************/
/*                                                 */
/*   Site Footer (site-footer.scss)               */
/*                                               */
/************************************************/
/*

  - Styles specific to the site footer block

  *************
  * Contents: *
  *************

  # Site Footer
    > At Small
  # Content
  # Columns
    > At Small
  # Copyright
  # Social Icons
    > On Hover
    > At Small
  # Email
  # Link
    > On Hover

*/

/**************************************/
/*   # Site Footer                   */
/************************************/

.site-footer {
  /*position*/
  position: relative;
  /*structure*/
  min-height: 100px;
  /*spacing*/
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $color_neutralDark;
  /*typography*/
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 1;
  font-size: .9rem;
  font-weight: 500;

  p {
    /*colors*/
    color: $color_neutralLight;
  }

  /****************
  *  > At Small   *
  ****************/

  @include atSmall {
    /*spacing*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }


/**************************************/
/*   # Content                       */
/************************************/

  &__content {
    /*position*/
    position: relative;
    /*structure*/
    height: auto;
    width: 100%;
    /*spacing*/
    margin-left: auto;
    margin-right: auto;
    /*typography*/
    // text-align: center;
  }

  /**************************************/
  /*   # Column                        */
  /************************************/

  &__column {}

  /****************
  *  > At Small   *
  ****************/

  @include atSmall {
    &__column--right-align-at-small {
      /*typography*/
      text-align: right;
    }

    &__column--left-align-at-small {
      text-align: left;
    }
  }


  /**************************************/
  /*   # Copyright                     */
  /************************************/

  &__copyright {
    /*color*/
    opacity: .5;
  }

  /**************************************/
  /*   # Social Icons                  */
  /************************************/

  &__social-icons {
    /*display*/
    display: block;
    /*position*/
    position: relative;
    /*spacing*/
    margin-bottom: 1rem;
    /*typography*/
    text-align: center;
    /*transitions*/
    transition-property: opacity;
    transition-duration: 200ms;

    /****************
    *  > On Hover   *
    ****************/

    /*hover*/
    .has-no-touch &:hover {

    }

    /****************
    *  > At Small   *
    ****************/

    @include atSmall {
      /*position*/
      // top: 50%;
      /*typography*/
      text-align: left;
      /*transform*/
      // transform: translateY(-50%);
    }
  }

  /**************************************/
  /*   # Email                         */
  /************************************/

  &__email {
    padding-bottom: 5px;
  }

  /**************************************/
  /*   # Link                          */
  /************************************/

  &__link {
    /*typography*/
    text-decoration: none;
    /*borders*/
    border-style: none;
    /*colors*/
    color: $color_accentTri;

    &::after {
      opacity: 0;
    }

    /****************
    *  > On Hover   *
    ****************/

    .has-no-touch &:hover {
      /*colors*/
      color: $color_offWhite;
    }
    .has-no-touch &:hover:after {
      opacity: 1;
      border-color: $color_offWhite;
    }
  }


}
