.social-icons {


  &--horizontal {
    .social-icons__icon-wrapper {
      /*spacing*/
      padding-left: 10px;
      padding-right: 10px;
      /*display*/
      display: inline-block;
    }

  }

  @include atSmall {
    &--horizontal .social-icons__icon-wrapper {
      padding-right: 0;
      padding-left: 30px;
    }
  }



}
