.wrapper {

  position: relative;

  &--more-p-space-bottom p {
    margin-bottom: 50px;
  }

  &--center-horiz {
    margin-left: auto;
    margin-right: auto;
  }

  &--bottom-margin {

    margin-bottom: 30px;

      @include atSmall {
        margin-bottom: 60px;
      }
  }

  &--top-margin {

    margin-top: 30px;

      @include atSmall {
        margin-top: 60px;
      }
  }

  &--vertical-margin {
    margin-top: 30px;
    margin-bottom: 30px;

    @include atSmall {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &--bottom-margin--more {
    margin-bottom: 60px;

    @include atSmall {
      margin-bottom: 100px;
    }
  }

  &--shift-up {
    margin-top: -50px;
  }

  &--center-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


  &--narrow-for-tiny {
    @include forTiny {
      max-width: 250px;
    }
  }

  &--narrow-for-tiny-portrait {
    @include forTiny {
      @include forPortrait {
        max-width: 250px;
      }
    }
  }
}
