---
layout: home
title: Welcome
includeTitle: false
restrictWidth: false
---

<article>
  <section class="wrapper wrapper--center-horiz wrapper--bottom-margin restrict-width reveal-on-scroll">
    <div class="wrapper wrapper--bottom-margin">
      <header class="site-body__header wrapper">
        <div class="site-body__hero-wrapper image__wrapper">
          {% include image.html srcLow="assets/images/heros/rabbit-with-tilt--50px.jpg"
          src="assets/images/heros/rabbit-with-tilt--500px.jpg 500w"
          srcset="assets/images/heros/rabbit-with-tilt--500px.jpg 500w,
          assets/images/heros/rabbit-with-tilt--800px.jpg 800w,
          assets/images/heros/rabbit-with-tilt--1200px.jpg 1200w"
          classStr="image--hero site-body__hero"%}
        </div>
        <h1 class="headline headline--medium headline--large--at-small headline--less-bottom-space site-body__title">New Rabbit Pattern!</h1>
        <a href="/patterns/rabbit-lovey" class="link link--cover" title="See the new rabbit lovey."></a>
      </header>
    </div>
  </section>
  <section class="wrapper wrapper--center-horiz wrapper--narrow wrapper--bottom-margin">
    <h2 class="headline headline--center-align">Hello!</h2>
    <p class="center-align">
      Welcome to Woolen Yeti! This is a new site where I'll be sharing various crochet tips, techniques, and patterns. It's still a bit small, but more content will be coming soon!</p>
  </section>
  <section class="wrapper wrapper--center-horiz wrapper--bottom-margin restrict-width">
      <div class="columns columns--not-for-tiny-portrait wrapper wrapper--bottom-margin--more wrapper--center-horiz wrapper--narrow-for-tiny-portrait">
        <div class="columns__pillar columns__pillar--4o12 reveal-on-scroll">
          {% include feature-link.html label="Patterns" href="/patterns"
          src="assets/images/thumbnails/thumbnail--acorn-on-book-200px.jpg"
          srcLow="assets/images/thumbnails/thumbnail--acorn-on-book-10px.jpg" %}
        </div>
        <div class="columns__pillar columns__pillar--4o12 columns__pillar--no-side-margin reveal-on-scroll">
          {% include feature-link.html label="Techniques" href="/techniques"
          src="assets/images/thumbnails/thumbnail--verticalCarry-200px.png"
          srcLow="assets/images/thumbnails/thumbnail--verticalCarry-10px.png" %}
        </div>
        <div class="columns__pillar columns__pillar--4o12 reveal-on-scroll">
          {% include feature-link.html label="Posts" href="/posts"
          src="assets/images/thumbnails/thumbnail--grayson-eyedrop-yarn-200px.png"
          srcLow="assets/images/thumbnails/thumbnail--grayson-eyedrop-yarn-10px.png" %}
        </div>
      </div>
  </section>
  <div class="line line--center restrict-width"></div>
<section class="wrapper wrapper--center-horiz wrapper--vertical-margin restrict-width reveal-on-scroll">
  <h2 class="headline headline--center-align">What's New</h2>
  <p>
    New patterns are arriving for spring! Barley the rabbit is the newest additions to the lovey family. To see all the loveys <a href="/patterns">go to patterns</a>.
  </p>
</section>
<div class="line line--center restrict-width"></div>
  <section class="wrapper wrapper--center-horiz wrapper--vertical-margin restrict-width reveal-on-scroll">
    <h2 class="headline headline--center-align">Still Growing</h2>
    <p>
      This is still a young site, but I hope to get it growing quickly. I'll be posting more tips, techniques, and patterns in the near future, so I hope to see you back here soon. You can sign up to receive email updates by filling out the subscription form below.
    </p>
  </section>
</article>
