---
layout: home
title: Welcome
includeTitle: false
restrictWidth: false
---

<article>
  <section class="wrapper wrapper--center-horiz wrapper--bottom-margin restrict-width  reveal-on-scroll">
    <div class="wrapper wrapper--bottom-margin">
      <header class="site-body__header wrapper">
        <h1 class="headline headline--medium headline--large--at-small headline--center-align headline--less-bottom-space site-body__title">Welcome to {{ site.title }}</h1>
        <p class="headline headline--center-align headline--no-top-space headline--small">A Crochet Blog</p>
      </header>
      <p>
        Praesent a sapien iaculis, consectetur nunc eu, varius erat. Aliquam vestibulum mi odio, eget pharetra felis pretium a. Nunc consectetur tellus nec erat feugiat, sit amet finibus sem tempus. Nunc sagittis ultricies metus ac gravida. Duis ultricies odio
        vitae urna mattis pulvinar.
      </p>
    </div>
  </section>
  <section class="wrapper wrapper--center-horiz wrapper--bottom-margin restrict-width">
      <div class="columns columns--not-for-tiny-portrait wrapper wrapper--bottom-margin--more wrapper--center-horiz wrapper--narrow-for-tiny-portrait">
        <div class="columns__pillar columns__pillar--4o12 reveal-on-scroll">
          <!-- {% include feature-link.html label="Patterns" href="/patterns" src="assets/images/thumbnails/thumbnail--grey-fox-on-notebook-200px.png" srcLow="thumbnail--grey-fox-on-notebook-50px.png" %} -->
          {% include feature-link.html label="Patterns" href="/patterns"
          src="assets/images/thumbnails/thumbnail--grey-fox-on-notebook-200px.png"
          srcLow="assets/images/thumbnails/thumbnail--grey-fox-on-notebook-10px.png" %}
        </div>
        <div class="columns__pillar columns__pillar--4o12 reveal-on-scroll">
          {% include feature-link.html label="Posts" href="/posts"
          src="assets/images/thumbnails/thumbnail--grayson-eyedrop-yarn-200px.png"
          srcLow="assets/images/thumbnails/thumbnail--grayson-eyedrop-yarn-10px.png" %}
        </div>
        <div class="columns__pillar columns__pillar--4o12 columns__pillar--no-side-margin reveal-on-scroll">
          {% include feature-link.html label="Techniques" href="/techniques"
          src="assets/images/thumbnails/thumbnail--invisible-join-step-200px.png"
          srcLow="assets/images/thumbnails/thumbnail--invisible-join-step-10px.png" %}
        </div>
      </div>
  </section>
<div class="line"></div>
  <section class="wrapper wrapper--center-horiz wrapper--vertical-margin restrict-width  reveal-on-scroll">
    <h2 class="headline headline--center-align">Something</h2>
    <p>
      Praesent a sapien iaculis, consectetur nunc eu, varius erat. Aliquam vestibulum mi odio, eget pharetra felis pretium a. Nunc consectetur tellus nec erat feugiat, sit amet finibus sem tempus. Nunc sagittis ultricies metus ac gravida. Duis ultricies odio
      vitae urna mattis pulvinar. Curabitur consequat velit sit amet velit porttitor aliquam. Quisque eget iaculis lacus.
    </p>
  </section>
</article>
