<div class="contact-form__wrapper">
  <noscript>
    <div class="wrapper visible-for-no-js contact-form__no-js-overlay">
      <p>Please enable JavaScript on your device or browser to use the contact form. Or contact me via email: <a href="mailto:{{site.email}}">{{ site.email }}</a></p>
    </div>
  </noscript>
  <form class="contact-form form hide-for-no-js" name="form-contact" id="form-contact" action="https://formspree.io/woolsendpatterns@gmail.com" method="POST">
    <ul class="list list--no-bullets list--remove-webkit-side-space">
      <li>
        <label for="contact-form-name" class="form__label">Name</label>
        <div class="form__description">Just your first name is fine.</div>
        <input type="text" name="contact-form-name" id="contact-form-name" class="form__input form__input--inner-shadow form__input--text">
      </li>
      <li>
        <label for="contact-form-name" class="form__label">Email</label>
        <div class="form__description">Let me know how to respond to your message.</div>
        <input type="email" name="_replyto" id="contact-form-email" required class="form__input form__input--text form__input--inner-shadow">
      </li>
      <li>
        <label for="contact-form-name" class="form__label">Message</label>
        <div class="form__description"></div>
        <textarea rows="8" name="contact-form-message" id="contact-form-message" required class="form__input form__input--inner-shadow form__input--textarea"></textarea>
      </li>
      <input type="hidden" name="_next" value="http://woolsend.com/contact/?msgSent=true" />
    </ul>
    <input type="submit" value="Send Message" class="form__button form__submit">
  </form>
</div>
