{% if include.lazy == false %}
<img
src="{{ include.src }}"
{% if include.height %}height="{{ include.height }}"{% endif %}
{% if include.width %}width="{{ include.width }}"{% endif %}
class="image {{ include.classStr }}" alt="{{ include.alt }}">
{% else %}
<img
{% if include.srcFallback %}src="{{ include.srcFallback }}"{% endif %}
data-src="{{ include.src }}"
{% if include.height %}height="{{ include.height }}"{% endif %}
{% if include.width %}width="{{ include.width }}"{% endif %}
class="image lazyload {{ include.classStr }}" alt="{{ include.alt }}">
{% endif %}
