{% if include.lazy == false %}
  {% if include.srcset %}
    <picture class="image picture {{ include.classStr }}">
      {% for imgSrc in include.srcset %}
      <source media="{{ imgSrc.media }}" srcset="{{ imgSrc.file }}">
      {% endfor %}
      <img
      src="{{ include.src }}"
      {% if include.height %}height="{{ include.height }}"{% endif %}
      {% if include.width %}width="{{ include.width }}"{% endif %}
      alt="{{ include.alt }}">
    </picture>
  {% else %}
    <img
    src="{{ include.src }}"
    {% if include.height %}height="{{ include.height }}"{% endif %}
    {% if include.width %}width="{{ include.width }}"{% endif %}
    class="image {{ include.classStr }}" alt="{{ include.alt }}">
  {% endif %}
{% else %}
  <img
  {% if include.srcLow %}src="{{ include.srcLow }}"{% endif %}
  data-sizes: "auto"
  data-src="{{ include.src }}"
  {% if include.srcset %}data-srcset="{{ include.srcset }}"{% endif %}
  {% if include.height %}height="{{ include.height }}"{% endif %}
  {% if include.width %}width="{{ include.width }}"{% endif %}
  class="image lazyload blur-up {{ include.classStr }}" alt="{{ include.alt }}">
{% endif %}
