<nav class="main-nav">
  <ul class="main-nav__links list--links list--horizontal-at-small--space-adjusting list--links--no-underline">
    <li>
      {% include main-nav-link.html pgHref='' classStr='' pgLabel='home' %}
    </li>
    <li>
      {% include main-nav-link.html pgHref='posts' classStr='' pgLabel='posts' %}
    </li>
    <li>
      {% include main-nav-link.html pgHref='patterns' classStr='' pgLabel='patterns' %}
    </li>
    <li>
      {% include main-nav-link.html pgHref='techniques' classStr='' pgLabel='techniques' %}
    </li>
    <li>
      {% include main-nav-link.html pgHref='about' classStr='' pgLabel='about' %}
    </li>
    <li>
      {% include main-nav-link.html pgHref='contact' classStr='' pgLabel='contact' %}
    </li>
  </ul>
  <!-- <div class="main-nav__social-links hide-at-small">{% include social.html classStr="list--horizontal list--horizontal--less-space" %}</div> -->
</nav>
