<nav class="main-nav">
  <ul class="main-nav__links list--links list--horizontal-at-small list--links--dots-on-active list--links--dots-on-hover list--links--no-underline">
    <li>
      <a href="/about">about</a>
    </li>
    <li>
      <a href="/blog">blog</a>
    </li>
    <li>
      <a href="/patterns">patterns</a>
    </li>
    <li>
      <a href="/videos">videos</a>
    </li>
    <li>
      <a href="/contact">contact</a>
    </li>
    <li><span class="--hide-at-small">{% include social.html %}</span></li>
  </ul>
</nav>
