<h2>About This Pattern</h2>
<p>{{page.about}}</p>
<div class="columns columns--not-for-tiny">
  <div class="columns__pillar columns__pillar--7o12 columns__pillar--right-padding">
    {% if page.relatedTechniques %}
    <h2>Special Techniques:</h2>
    <ul class="list list--no-bullets list--remove-webkit-side-space">
      {% for technique in page.relatedTechniques %}
      <li><a href="{{ technique.url }}" class="link--inline">{{ technique.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %} {% if page.relatedResources %}
    <h2>Other Resources:</h2>
    <ul class="list list--no-bullets list--remove-webkit-side-space">
      {% for resource in page.relatedResources %}
      <li><a href="{{ resource.url }}" class="link link--inline">{{ resource.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="columns__pillar columns__pillar--5o12 columns__pillar--no-side-margin">
    <h2>Where to Purchase:</h2>
    <ul class="list list--no-bullets list--remove-webkit-side-space">
      <li>
        <a href="{{ page.purchaseLinkRavelry }}" class="link--inline">Ravelry</a>
      </li>
      <li>
        <a href="{{ page.purchaseLinkEtsy }}" class="link--inline">Etsy</a>
      </li>
    </ul>
    {% if page.similarPatterns %}
    <h2>Similar Patterns:</h2>
    <ul class="list list--no-bullets list--remove-webkit-side-space">
      {% for pattern in page.similarPatterns %}
      <li><a href="{{ pattern.url }}" class="link link--inline">{{ pattern.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
