<div class="post post--clickable post--no-bottom-margin">
  <div class="post__content columns">
    <div class="columns__pillar columns__pillar--fill">
      <div class="columns__content columns__content--center-vert">
        <h2 class="post__title headline">{{ post.title }}</h2>
        <p class="post__title--sub headline">{{ post.subTitle }}</p>
        <div class="post__date">{{ post.date | date: "%-d %B %Y" }}</div>
      </div>
    </div>
    {% if post.thumbnail %}
    <div class="columns__pillar columns__pillar--no-side-margin columns__content--child-no-vert-spacing hide-for-tiny">
      {% include image.html src=post.thumbnail alt=post.thumbnailAlt classStr="post__thumbnail image--shadow-frame--thin" width=300 height=300 %}
    </div>
    {% endif %}
  </div>
  <div class="line line--center-below line--top-space"></div>
  <a href="{{ post.url }}" title="{{ post.title }}: read full post" class="post__link post__link--cover"></a>
</div>
