<div class="site-body{% if include.restrictWidth %} restrict-width{% endif %}" id="main">
    <div class="line hide-at-small"></div>
  <div class="user-message__wrapper"></div>
  <main>
    {% if include.includeTitles %}
    <header>
      <h1 class="headline headline--medium headline--large--at-small headline--center-align">
        {{page.title}}
      </h1>
      {% if page.subTitle %}
      <p class="headline headline--small headline--center-align headline--color-med negative-top-space">{{page.subTitle}}</p>
      {% endif %}
    </header>
    {% endif %}
    {{content}}
  </main>
</div>
