<ul class="list list--icons list--full-links">
  <li>
    <a href="https://www.instagram.com/wools_end/">
      <span class="icon icon--instagram"></span><span>Instagram</span>
    </a>
  </li>
  <li>
    <a href="https://www.etsy.com/">
      <span class="icon icon--etsy"></span><span>Etsy</span>
    </a>
  </li>
  <li>
    <a href="https://www.ravelry.com/people/Mirananemone">
      <span class="icon icon--ravelry"></span><span>Ravelry</span>
    </a>
  </li>
  <li>
    <a href="/contact">
      <span class="icon icon--ravelry"></span><span>Email</span>
    </a>
  </li>
</ul>
