<ul class="social-icons list list--icons list--full-links list--horizontal {{include.classStr}}">
  <li>
    <a href="https://www.instagram.com/wools_end/">
      <div class="icon icon--instagram icon--hide-title-till-hover">
          <img class="icon__image icon__image--small icon__image--scale-on-hover" alt="Instagram: see Wool's End images" src="/assets/images/icons/icons_instagram-white-50px.png">
        <div aria-hidden class="icon__title">Instagram</div>
      </div>
    </a>
  </li>
  <li>
    <a href="https://www.ravelry.com/people/Mirananemone">
      <div class="icon icon--ravelry icon--hide-title-till-hover">
          <img class="icon__image icon__image--small icon__image--scale-on-hover" alt="Ravelry: check out my Ravelry account page" src="/assets/images/icons/icons_ravelry-white-50px.png">
        <div aria-hidden class="icon__title">Ravelry</div>
      </div>
    </a>
  </li>
  <li>
    <a href="https://www.etsy.com/">
      <div class="icon icon--etsy icon--hide-title-till-hover">
        <img class="icon__image icon__image--small icon__image--scale-on-hover" alt="Etsy: checkout my etsy shop--when I actually have one..." src="/assets/images/icons/icons_etsy-white-50px.png">
        <div aria-hidden class="icon__title">Etsy</div>
      </div>
    </a>
  </li>
  <li>
    <a href="mailto:woolsendpatterns@gmail.com">
      <div class="icon icon--email icon--hide-title-till-hover">
        <img class="icon__image icon__image--small icon__image--scale-on-hover" alt="Email Me!" src="/assets/images/icons/icons_email-white-50px.png">
        <div aria-hidden class="icon__title">Email</div>
      </div>
    </a>
  </li>
</ul>
