{% assign emailIcon = "/assets/images/icons/icon_email-black-50px.png" %}
{% assign etsyIcon = "/assets/images/icons/icon_etsy-black-50px.png" %}
{% assign instagramIcon = "/assets/images/icons/icon_instagram-black-50px.png" %}
{% assign ravelryIcon = "/assets/images/icons/icon_ravelry-black-50px.png" %}
{% assign rssIcon = "/assets/images/icons/icon_rss-black-50px.png" %}

{% if include.direction == 'horizontal' %}
  {% assign youtubeIcon = "/assets/images/icons/icon_youtube-black-70px.png" %}
{% else %}
  {% assign youtubeIcon = "/assets/images/icons/icon_youtube-black-50px.png" %}
{% endif %}

{% if include.color == 'white' %}
  {% assign emailIcon = "/assets/images/icons/icon_email-white-50px.png" %}
  {% assign etsyIcon = "/assets/images/icons/icon_etsy-white-50px.png" %}
  {% assign instagramIcon = "/assets/images/icons/icon_instagram-white-50px.png" %}
  {% assign ravelryIcon = "/assets/images/icons/icon_ravelry-white-50px.png" %}
  {% assign rssIcon = "/assets/images/icons/icon_rss-white-50px.png" %}
  {% if include.direction == 'horizontal' %}
    {% assign youtubeIcon = "/assets/images/icons/icon_youtube-white-70px.png" %}
  {% else %}
    {% assign youtubeIcon = "/assets/images/icons/icon_youtube-white-50px.png" %}
  {% endif %}
{% endif %}

<ul class="social-icons{% if include.direction == 'horizontal' %} social-icons--horizontal{% endif %} list list--icons list--no-bullets list--full-links list--remove-webkit-side-space {{include.classStr}}">
  <li class="social-icons__icon-wrapper">
    {% include social-icon.html linkHref=site.social.instagram.full linkTitle=site.social.instagram.title linkLabel=site.social.instagram.label linkImage=instagramIcon %}
  </li>
  <li class="social-icons__icon-wrapper">
      {% include social-icon.html linkHref=site.social.etsy.full linkTitle=site.social.etsy.title linkLabel=site.social.etsy.label linkImage=etsyIcon %}
  </li>
  <li class="social-icons__icon-wrapper">
    {% include social-icon.html linkHref=site.social.youtube.full linkTitle=site.social.youtube.title linkLabel=site.social.youtube.label linkImage=youtubeIcon %}
  </li>
  <li class="social-icons__icon-wrapper">
    {% include social-icon.html linkHref=site.social.ravelry.full linkTitle=site.social.ravelry.title linkLabel=site.social.ravelry.label linkImage=ravelryIcon %}
  </li>
  <li class="social-icons__icon-wrapper">
    {% include social-icon.html linkHref=site.social.rss.url linkTitle=site.social.rss.title linkLabel=site.social.rss.label linkImage=rssIcon %}
  </li>
</ul>
