---
layout: page
title: Blog
permalink: /blog/
---

<ul class="list list--posts list--no-bullets">
  {% for post in site.posts %}
    <li>
      <article class="post post--clickable">
        <h4 class="post__title">{{ post.title }}</h4>
        <div class="post__content columns">
          {% if post.featureImg %}
          <div class="columns__pillar columns__pillar--4o12">
            <img src="{{ post.featureImg }}" alt="{{ post.featureImgAlt }}" class="image image--fit-to-width image--shadow-frame">
          </div>
          <div class="columns__pillar columns__pillar--8o12">
            <p>{{ post.excerpt | truncate: 300, "..." }}</p>
          </div>
          {% else %}
          <div class="columns__pillar">
            <p>{{ post.excerpt | truncate: 300, "..." }}</p>
          </div>
          {% endif %}
        </div>
        <div class="post__footer columns">
          <div class="columns__pillar columns__pillar--8o12">XXX</div>
          <div class="columns__pillar columns__pillar--4o12 right-align">{{ post.date | date: "%-d %B %Y" }}</div>
        </div>
        <a href="{{ post.url }}" title="{{ post.title }}: read full post" class="post__link post__link--cover"></a>
      </article>
    </li>
  {% endfor %}
</ul>
