---
layout: wrapper
---
<article>
  {% if page.featureImg %}
  <img src="{{ page.featureImg }}" alt="{{ page.featureImgAlt }}" class="image image--fit-to-width image--shadow-frame">
  {% endif %}
  <div class="post__content">
    {{ content }}
  </div>
  <div class="post__footer columns">
    <div class="columns__pillar columns__pillar--8o12">
      <ul class="list list--horizontal list--no-left-space-on-first list--horizontal--less-space">
        {% if page.tags %}
          <li class="list__lable">tags:</li>
          {% for tag in page.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="columns__pillar colums__pillar--4o12">
      <p class="post__date">{{page.date | date: "%-d %B %Y" }}</p>
    </div>
  </div>
</article>
