---
layout: wrapper
---
<article class="post">
  {% if page.featureImg %}
  <img src="{{ page.featureImg }}" alt="{{ page.featureImgAlt }}" class="post__image image image--center-horiz image--restrict-to-parent image--center-horiz image--shadow-frame">
  {% endif %}
  <div class="post__content">
    {{ content }}
  </div>
  <div class="post__footer post__footer--more-space-top columns columns--not-for-tiny">
    <div class="columns__pillar columns__pillar--8o12">
      <ul class="list list--horizontal list--no-left-space-on-first list--horizontal--less-space post__tags">
        {% if page.tags %}
          <li class="list__lable">tags:</li>
          {% for tag in page.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="columns__pillar columns__pillar--4o12 columns__pillar--no-side-margin">
      <div class="post__date">{{page.date | date: "%-d %B %Y" }}</div>
    </div>
  </div>
</article>
