---
layout: wrapper
---
<article class="post">
  {% if page.featureImg %}
  <img src="{{ page.featureImg }}" alt="{{ page.featureImgAlt }}" class="post__image image image--center-horiz image--restrict-to-parent image--center-horiz image--shadow-frame">
  {% endif %}
  <div class="post__content">
    {{ content }}
  </div>
  <div class="post__footer post__footer--more-space-top columns columns--not-for-tiny">
    <div class="columns__pillar columns__pillar--8o12">
      <ul class="list list--horizontal list--no-left-space-on-first list--horizontal--less-space post__tags">
        {% if page.tags %}
          <li class="list__lable">tags:</li>
          {% for tag in page.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="columns__pillar columns__pillar--4o12 columns__pillar--no-side-margin">
      <div class="post__date">{{page.date | date: "%-d %B %Y" }}</div>
    </div>
  </div>
</article>
<aside>
  {% if page.comments %}
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://wools-end.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
  {% endif %}
</aside>
