<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128673087-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128673087-1');
    </script>
    <!-- end global site tag -->
    <!-- start: pinterest account claim website -->
    <meta name="p:domain_verify" content="88695cd943d1597a41c8a65fc43dd266"/>
    <!-- end: pinterests account claim website -->
    <title>{{ site.title }}: {{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body class="has-no-js has-no-touch">
    {% include site-header.html %}
    {% include site-body.html restrictWidth=page.restrictWidth includeTitles=page.includeTitle %}
    {% if page.blockSignup %}
    {% include email-signup.html %}
    {% endif %}
    {% include site-footer.html %}
    {% if page.popupSignup %}
    {% include email-signup-popup.html %}
    {% endif %}
    <script src="{{site.baseurl}}/assets/app.js"></script>
  </body>
</html>
