<html>
  <head>
    <title>Wool's End: {{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body class="has-no-js">
    {% include site-header.html %}
    {% include site-body.html restrictWidth=page.restrictWidth includeTitles=page.includeTitle %}
    {% if page.blockSignup %}
    {% include email-signup.html %}
    {% endif %}
    {% include site-footer.html %}
    {% if page.popupSignup %}
    {% include email-signup-popup.html %}
    {% endif %}
    <script src="{{site.baseurl}}/assets/app.js"></script>
  </body>
</html>
