@include forTiny {
  .hide-for-tiny {
    display: none;
  }
}

@include atSmall{
  .hide-at-small {
    display: none;
  }
}

.has-no-js .visible-for-no-js {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.has-no-js .hide-for-no-js{
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}

.right-align--at-small {
  @include atSmall {
    text-align: right;
  }
}

.no-wrap {
  white-space: nowrap;
}

.color-dark {
  color: $color_neutralDark;
}
.color-med {
  color: $color_neutralMed;
}

.color-attentionMild {
  color: $color_attentionMild;
}
.color-attentionMed {
  color: $color_attentionMed;
}
.color-attentionHot {
  color: $color_attentionHot;
}

.no-top-space {
  padding-top: 0;
  margin-top: 0;
}
.no-bottom-space {
  padding-bottom: 0;
  margin-bottom: 0;
}

.no-right-spacing {
  padding-right: 0;
  margin-right: 0;
}

.negative-top-space {
  padding-top: 0;
  margin-top: -1rem;
}

.restrict-width {
  /*structure*/
  max-width: $structure_restricted_width;
}


.scale-on-hover {
  transition-property: transform;
  transition-duration: 300ms;
  .has-no-touch &:hover{
    transform: scale(1.02);
  }
}

.circle {
  border-radius: 50%;
}
