@include forTiny {
  .hide-for-tiny {
    display: none;
  }
}

@include atSmall{
  .hide-at-small {
    display: none;
  }
}

.right-align {
  text-align: right;
}

.right-align--at-small {
  @include atSmall {
    text-align: right;
  }
}

.color-dark {
  color: $color_neutralDark;
}

.no-right-spacing {
  padding-right: 0;
  margin-right: 0;
}
