@include forTiny {
  .hide-for-tiny {
    display: none;
  }
}

@include atSmall{
  .hide-at-small {
    display: none;
  }
}

.right-align {
  text-align: right;
}

.right-align--at-small {
  @include atSmall {
    text-align: right;
  }
}

.color-dark {
  color: $color_neutralDark;
}
.color-med {
  color: $color_neutralMed;
}

.no-top-space {
  padding-top: 0;
  margin-top: 0;
}
.no-bottom-space {
  padding-bottom: 0;
  margin-bottom: 0;
}

.no-right-spacing {
  padding-right: 0;
  margin-right: 0;
}
