/****************************************************/
/*                                                 */
/*   CSS Mixins (mixins.scss)                     */
/*                                               */
/************************************************/
/*

  - Library of css mixins with may be used by the css
  - These mixins are handled by the PostCSS plugin postcss-mixins (see ~/gulp/tasks/styles.task.js)
  - Mixin use example:
      .center-vertically {
        @mixin centerVert;
      }
  - Mixin use examples w/ content
      ul {
        @mixin atMedium {
          width: 50%;
        }
      }
      @mixin atTinyOnly {
        .hidden-on-tiny {
          display: hidden;
        }
      }


  *************
  * Contents: *
  *************

  # Media Queries
    > Landscape
    > Portrait
    > Tiny Screen
    > Small Screen
    > Medium Screen
    > Large Screen
    > XL Screen
    > Squished Screen
    > Crushed Screen
    > Pancake Screen

  # Structural
    > Clearfix
    > Center Vertically
    > Dots

  # Links

  # Style

*/

/**************************************/
/*   # Media Queries                 */
/************************************/

/******************
*   > Landscape   *
******************/

@mixin forLandscape {
  @media only screen and (orientation: landscape){
    @content;
  }
}

/*****************
*   > Portrait   *
*****************/

@mixin forPortrait {
  @media only screen and (orientation: portrait){
    @content;
  }
}


/*********************
*   > Tiny Screen   *
*********************/
/* Extra small devices (phones, < 600px) */
@mixin forTiny {
  @media only screen and (max-width: $screen_tiny) {
    @content;
  }
}


/*********************
*   > Small Screen   *
*********************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin atSmall {
  @media only screen and (min-width: $screen_small) {
    @content;
  }
}

/**********************
*   > Medium Screen   *
**********************/
/* Medium devices (landscape tablets, 768px and up) */
@mixin atMedium {
  @media only screen and (min-width: $screen_medium) {
    @content;
  }
}

/*********************
*   > Large Screen   *
*********************/
/* Large devices (laptops/desktops, 992px and up) */
@mixin atLarge {
  @media only screen and (min-width: $screen_large) {
    @content;
  }
}

/******************
*   > XL Screen   *
******************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin atXL {
  @media only screen and (min-width: $screen_xl) {
    @content;
  }
}

/************************
*   > Squished Screen   *
************************/
/* A device that is longer than a portable device, but with a small height
(e.g. squished browser window) */
@mixin atSquished {
  @media only screen and (max-height: $screen_squished_height) and (min-width: $screen_squished_width) {
    @content;
  }
}

/***********************
*   > Crushed Screen   *
***********************/
/* A device that is longer than a portable device, but with a very small height
(e.g. very squished browser window) */
@mixin atCrushed {
  @media only screen and (max-height: $screen_crushed_height) and (min-width: $screen_crushed_width) {
    @content;
  }
}

/***********************
*   > Pancake Screen   *
***********************/
/* A device that is longer than a portable device,
but with about as little height as you can get
(e.g. very, very squished browser window) */
@mixin atPancake {
  @media only screen and (max-height: $screen_pancake_height) and (min-width: $screen_pancake_width) {
    @content;
  }
}


/**************************************/
/*   # Structural                    */
/************************************/

/****************
*  > Clearfix   *
****************/
@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

/*************************
*  > Center Vertically   *
**************************
This mixin centers the element vertically within its parent (assuming position).
NOTE: the element and container must both have a position for this to work!
*/
@mixin centerVert {
  top: 50%;
  transform: translateY(-50%);
}

/*************
*   > Dots   *
*************/

@mixin dot($color:grey, $size:5px){
  /*position*/
  position: absolute;
  /*structure*/
  height: $size;
  width: $size;
  /*borders*/
  border-radius: 50%;
  /*colors*/
  background-color: $color;
}

/**************************************/
/*   # Links                         */
/************************************/

/***************
*   > Inline   *
***************/

@mixin inlineLink(){
  /*display*/
  display: inline-block;
  /*position*/
  position: relative;
  /*typography*/
  text-decoration: none;
  /*colors*/
  color: $color_textLink_inline;
  /*transitions*/
  transition-property: all;
  transition-duration: 100ms;

  &::after {
    content: "";
    /*display*/
    display: block;
    /*position*/
    position: absolute;
    bottom: 1px;
    /*structure*/
    width: 100%;
    height: 2px;
    /*colors*/
    background-color: $color_textLink_inline;
    opacity: 0;
    /*transitions*/
    transition-property: all;
    transition-duration: 100ms;
  }

  &:hover {
    /*colors*/
    color: $color_textLink_inline_hover;
  }
  &:hover::after {
    /*colors*/
    background-color: $color_textLink_inline_hover;
    opacity: 1;
  }
}

/***************
*   > Button   *
***************/

@mixin button(){
  cursor: pointer;
  /*override webkit*/
  -webkit-appearance: none;
  /*display*/
  display: inline-block;
  /*spacing*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  /*borders*/
  border-style: none;
  border-radius: 3px;
  /*typography*/
  font-size: 1rem;
  letter-spacing: .7;
  text-decoration: none;
  /*colors*/
  color: $color_offWhite;
  background-color: $color_button;
  /*transitions*/
  transition-property: all;
  transition-duration: 200ms;

  .has-no-touch &:hover {
    /*colors*/
    background-color: $color_button_hover;
    /*transform*/
    transform: scale(1.05);
  }

}

/**************************************/
/*   # Style                         */
/************************************/

@mixin dropShadow (){
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}
