---
layout: post
title:  "Double Crochet Vertical Carry"
subTitle: "Carry Your Colors to the Next Row"
thumbnail: "/assets/images/thumbnails/thumbnail--verticalCarry-200px.png"
thumbnailLow: "/assets/images/thumbnails/thumbnail--verticalCarry-10px.png"
featureImg: "/assets/images/techniques/vc_finished.png"
date:   2018-11-04 11:09:34 -0700
categories: technique, double crochet
---
<section>
	<h2 class="headline">About this technique</h2>
		<p>Ever wanted to create something circular with an upward color change, but <em>without</em> breaking the yarn to change the color? Here is the technique I use to carry colors up when working with double crochets (US) and turns.
			I have not tried this with half doubles, but I would assume the principle is pretty similar.</p>
		<p>The example image is the "wrong" side of a star blanket that uses this carry technique.
			Those ridges along the color change are the carried yarn, wrapped by double crochet stitches.
			This technique doesn't perfectly hide the carried yarn, but it helps to disguise it and minimize snagging.</p>
		<p>There are two parts to this technique to keep the carried yarn on one side of your work (the wrong side): carrying the color <a href="#vc-from-front">when the working yarn is in the front</a> and carrying the color <a href="#vc-from-back">when the working yarn is in the back</a>.
		Below you will find step-by-step instructions with images (both right and left-handed).</p>
</section>
<section>
	<h2 class="headline" id="vc-from-front">How to do it:</h2>
	<h3 class="headline">With working yarn in front:</h3>
	<ol class="list">
		<li>Just before finishing the double crochet of the previous color, </li>
		<li>drop that color and pull the new color through in its place to complete the stitch. <strong>When dropping the yarn, keep it to the front of your work and don't cross the yarn colors.</strong></li>
		<li>Yarn over, slip hook under the carried yarn of the new color, and through the next stitch you'll be working into.</li>
		<li>Yarn over and pull up a loop (through the stitch and under the carried yarn).</li>
		<li>Yarn over and pull through two twice to complete your double crochet.</li>
	</ol>
	<div class="wrapper wrapper--center-horiz wrapper--narrow">
		<div class="wrapper wrapper--bottom-margin--less">
			{% include image.html srcLow="/assets/images/techniques/vc_fromFront-right-30px.png" src="/assets/images/techniques/vc_fromFront-right.png" classStr="image--shadow-frame--thin image--fit-to-width"%}
		</div>
		<div class="wrapper">
			{% include image.html srcLow="/assets/images/techniques/vc_fromFront-left-30px.png" src="/assets/images/techniques/vc_fromFront-left.png" classStr="image--shadow-frame--thin image--fit-to-width"%}
		</div>
	</div>
	<h3 class="headline headline--extra-top-space" id="vc-from-back">With working yarn in back:</h3>
	<ol class="list">
		<li>Just before finishing the double crochet of the previous color, </li>
		<li>drop that color and pull the new color through in its place to complete the stitch. <strong>When dropping the yarn, keep it behind your work and don't cross the yarn colors.</strong></li>
		<li>Yarn over, slip hook and through the next stitch you'll be working into, and then under the carried yarn of the new color.</li>
		<li>Yarn over and pull up a loop (under the carried yarn and through the stitch).</li>
		<li>Yarn over and pull through two twice to complete your double crochet.</li>
	</ol>
	<div class="wrapper wrapper--center-horiz wrapper--narrow">
		<div class="wrapper wrapper--bottom-margin--less">
			{% include image.html srcLow="/assets/images/techniques/vc_fromBack-right-30px.png" src="/assets/images/techniques/vc_fromBack-right.png" classStr="image--shadow-frame--thin image--fit-to-width"%}
		</div>
		<div class="wrapper">
			{% include image.html srcLow="/assets/images/techniques/vc_fromBack-left-30px.png" src="/assets/images/techniques/vc_fromBack-left.png" classStr="image--shadow-frame--thin image--fit-to-width"%}
		</div>
	</div>
</section>
