---
layout: post
title:  "Invisible Joins"
subTitle: "3 Ways to Disguise Your Last Single Crochet"
featureImg: "/assets/images/techniques/ij_3-ways.png"
featureImgAlt: "Results of three different invisible join types: starting from the front, starting from the back, and by creating an additional stitch."
thumbnail: "/assets/images/thumbnails/thumbnail--invisibleJoinComplete-200px.png"
thumbnailLow: "/assets/images/thumbnails/thumbnail--invisibleJoinComplete-10px.png"
date:   2018-11-04 11:09:34 -0700
categories: technique, double crochet
---
<section>
	<h2 class="headline">About these techniques</h2>
	<p>
		Invisible joins are awesome! They can give you a clean edge to create a cleaner color change, to make assembling pieces easier, or just to look nice.
		Try an invisible join when you're about to tie-off a piece or just before a color change.
	</p>
	<p>Below you'll find step-by-step instructions for three different versions along with images (right and left-handed).</p>
	<ul class="list list--push-up">
		<li><a href="#ij-from-back" class="link link--inline">From the back</a></li>
		<li><a href="#ij-from-front" class="link link--inline">From the front</a></li>
		<li><a href="#ij-new-stitch" class="link link--inline">To make a new stitch</a></li>
	</ul>
	<p>These techniques work by cutting your yarn and using the end to create a fake stitch over the top of another stitch. This blends the end of the row into the beginning of the row and lessens the "jog" created by working in a spiral.</p>
</section>
<section>
	<h2 class="headline headline--extra-top-space" id="ij-from-back">From the back:</h2>
	<p>This is the technique I use when finishing an amigurumi piece in the round.</p>
	<ol>
		<li>Cut your working yarn (leaving a long end) and pull out the end.</li>
		<li>Skip one stitch, then thread the end under the two loops of the <em>next</em> stitch from the back. This will create a fake stitch over the top of the first stitch of the round.</li>
		<li>Thread the end back through the top of your last created stitch, then under one leg of the V from your last single crochet (the leg closest to your fake stitch).</li>
		<li>Then thread the end under the top two loops of the single crochet you skipped in step two (the first single crochet of your round).</li>
		<li>Tighten your newly created loop to the size of the other stitches and secure.</li>
	</ol>
	<div class="wrapper wrapper--center-horiz wrapper--narrow">
		<div class="wrapper wrapper--bottom-margin--less">
			{% include image.html src="/assets/images/techniques/ij_fromBack-right.png" srcLow="/assets/images/techniques/ij_fromBack-right-20px.png" alt="Right handed step-by-step images for creating an invisible join starting from the back." classStr="image--fit-to-width image--shadow-frame--thin" %}
		</div>
		<div class="wrapper">
			{% include image.html src="/assets/images/techniques/ij_fromBack-left.png" srcLow="/assets/images/techniques/ij_fromBack-left-20px.png" alt="Left handed step-by-step images for creating an invisible join starting from the back." classStr="image--fit-to-width image--shadow-frame--thin" %}
		</div>
	</div>
</section>
<section>
	<h2 class="headline headline--extra-top-space" id="ij-from-front">From the front:</h2>
	<p>This one is a little more simple than the version worked from the back.</p>
	<ol>
		<li>Cut your working yarn (leaving a long end) and pull out the end.</li>
		<li>Skip one stitch, then thread the end under the two loops of the <em>next</em> stitch from the front. This will create a fake stitch over the top of the first stitch of the round.</li>
		<li>Thread the end back through the top of your last created stitch.</li>
		<li>Tighten your newly created loop to the size of the other stitches and secure.</li>
	</ol>
	<div class="columns columns--not-for-tiny">
		<div class="columns__pillar columns__pillar--6o12">
			{% include image.html src="/assets/images/techniques/ij_fromFront-right.png" srcLow="/assets/images/techniques/ij_fromFront-right-10px.png" alt="Right handed step-by-step images for creating an invisible join starting from the front." classStr="image--fit-to-width image--shadow-frame--thin" %}
		</div>
		<div class="columns__pillar columns__pillar--6o12">
			{% include image.html src="/assets/images/techniques/ij_fromFront-left.png" srcLow="/assets/images/techniques/ij_fromFront-left-10px.png" alt="Left handed step-by-step images for creating an invisible join starting from the front." classStr="image--fit-to-width image--shadow-frame--thin" %}
		</div>
	</div>
</section>
<section>
	<h2 class="headline headline--extra-top-space" id="ij-new-stitch">Make a new stitch:</h2>
	<p>So this one isn't worked over a stitch to replace it but creates its own stitch. I like to use this technique when I'm making flat shapes (like this circle). It creates a clean shape without adding any extra bulk.</p>
	<ol>
		<li>Cut your working yarn (leaving a long end) and pull out the end.</li>
		<li>Using an embroidery needle, thread the end under the two loops of the first stitch of the round.</li>
		<li>Then thread the end back through the top of your last created stitch.</li>
		<li>Tighten your newly created loop to the size of the other stitches and secure.</li>
	</ol>
	<div class="columns columns--not-for-tiny">
		<div class="columns__pillar columns__pillar--6o12">
			{% include image.html src="/assets/images/techniques/ij_right.png" srcLow="/assets/images/techniques/ij_right-10px.png" alt="" classStr="image--fit-to-width image--shadow-frame--thin" %}
		</div>
		<div class="columns__pillar columns__pillar--6o12">
			{% include image.html src="/assets/images/techniques/ij_left.png" srcLow="/assets/images/techniques/ij_left-10px.png" alt="" classStr="image--fit-to-width image--shadow-frame--thin" %}
		</div>
	</div>
</section>
