---
layout: post
title:  "Starting Half Double Crochet"
subTitle: "Another Alternative to the Chain 2"
thumbnail: "/assets/images/thumbnails/thumbnail--shdc-200px.png"
thumbnailLow: "/assets/images/thumbnails/thumbnail--shdc-10px.png"
date:   2018-11-14 11:09:34 -0700
categories: technique, half double crochet
---
<h2 class="headline">TL;DR</h2>
<p>
	sc; sc into front, inner-most, vertical loop of previous single crochet.
</p>
<p>Scroll down for step-by-step images.</p>
<h2 class="headline">About this stitch</h2>
<div class="columns columns--not-for-tiny">
	<div class="columns__pillar columns__pillar--6o12">
		{% include image.html src="/assets/images/techniques/shdc_finished.png" srcLow="/assets/images/techniques/shdc_finished-10px.png" alt="Half double crochet swatch using starting half double crochets along the edges." classStr="image--fit-to-width image--shadow-frame"%}
	</div>
	<div class="columns__pillar columns__pillar--6o12">
		<p>
			Here is a nice stitch to replace the chain 2 when starting a new row of half double crochets (U.S.).
			It’s about the same size as a standard half double and leaves you with a couple of easily accessible loops at the top for you to work your next row into.
		</p>
		<p>
			It's pretty quickly once you get the hang of it.
		</p>
	</div>
</div>
<h2 class="headline">How to do it:</h2>
<ol>
	<li>Single crochet.</li>
	<li>Insert hook under the front, inner-most, vertical loop created by the single crochet in step 1 (see arrow in step 1 of images below). Yarn over and pull through twice to complete a single crochet.</li>
	<li>You should now have a stitch with similar width and height to a half double crochet.</li>
</ol>

<div class="columns columns--not-for-tiny">
	<div class="columns__pillar columns__pillar--6o12">
		{% include image.html src="/assets/images/techniques/shdc_rightHanded.png" srcLow="/assets/images/techniques/shdc_rightHanded-10px.png" alt="Step by step images for creating starting half double crochet with right hand." classStr="image--fit-to-width image--shadow-frame"%}
	</div>
	<div class="columns__pillar columns__pillar--6o12">
			{% include image.html src="/assets/images/techniques/shdc_leftHanded.png" srcLow="/assets/images/techniques/shdc_leftHanded-10px.png" alt="Step by step images for creating starting half double crochet with left hand." classStr="image--fit-to-width image--shadow-frame"%}
	</div>
</div>
<h2 class="headline">Related Posts:</h2>
<ul class="list">
	<li><a href="/techniques/starting-double-crochet" class="link link--inline">Starting Double Crochet</a></li>
</ul>
