---
layout: post
title:  "Starting Double Crochet"
subTitle: "Another Alternative to the Chain 3"
thumbnail: "/assets/images/thumbnails/thumbnail--sdc-200px.png"
thumbnailLow: "/assets/images/thumbnails/thumbnail--sdc-10px.png"
date:   2018-11-04 11:09:34 -0700
categories: technique, double crochet
---
<h2 class="headline">TL;DR</h2>
<p>
	sc, ch 1, sc into bottom loop of chain
</p>
<h2 class="headline">About this stitch</h2>
<div class="columns columns--not-for-tiny">
	<div class="columns__pillar columns__pillar--6o12">
		{% include image.html src="/assets/images/techniques/stepsStartingDoubleCrochet_finished.png" srcLow="/assets/images/techniques/stepsStartingDoubleCrochet_finished-10px.png" alt="Double crochet swatch using starting double crochets along the edges." classStr="image--fit-to-width image--shadow-frame"%}
	</div>
	<div class="columns__pillar columns__pillar--6o12">
		<p>
			Here is a nice stitch to replace the chain 3 when starting a new row of double crochets (U.S.).
			It’s about the same size as a standard double crochet and leaves you with a couple of easily accessible loops at the top for you to work your next row into.
		</p>
		<p>
			I’ve found it goes pretty quickly once you get the hang of it.
		</p>
	</div>
</div>
<h2 class="headline">How to do it:</h2>
<ol>
	<li>single crochet</li>
	<li>chain 1</li>
	<li>single crochet into the bottom loop of the chain from step 2</li>
	<li>you should now have a stitch with similar width and height to a double crochet</li>
</ol>

<div class="columns columns--not-for-tiny">
	<div class="columns__pillar columns__pillar--6o12">
		{% include image.html src="/assets/images/techniques/stepsStartingDoubleCrochet_rightHanded.png" srcLow="/assets/images/techniques/stepsStartingDoubleCrochet_rightHanded-10px.png" alt="Step by step images for creating starting double crochet with right hand." classStr="image--fit-to-width image--shadow-frame"%}
	</div>
	<div class="columns__pillar columns__pillar--6o12">
			{% include image.html src="/assets/images/techniques/stepsStartingDoubleCrochet_leftHanded.png" srcLow="/assets/images/techniques/stepsStartingDoubleCrochet_leftHanded-10px.png" alt="Step by step images for creating starting double crochet with left hand." classStr="image--fit-to-width image--shadow-frame"%}
	</div>
</div>

<h3 class="headline headline--attentionMild">Tip!</h3>
<p>
	Pinch the working yarn while creating the chain in step 2. Once you’ve created the chain, the bottom loop of the chain will already be between your fingers; this makes it easier to insert the hook for step 3!
</p>

<h2 class="headline">Related Posts:</h2>
<ul class="list">
	<li><a href="/techniques/starting-half-double-crochet" class="link link--inline">Starting Half Double Crochet</a></li>
</ul>
